@media only screen and (max-width: 559px){


 /*Resets iphone and microsoft phone so that they don't change size or orientation*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


body {
    background-image: url(/images/169.jpg);
    background-color: burlywood; /*Used as a fallback, in case image won't load for some unknown reason*/
    background-position: center center;
    background-repeat: repeat;
    background-size: 200px 200px;
}

/* Navigation + header bar configuration */

nav {
    padding: 8px;
    display: flex;
    border-radius: 0px;
    background-color: darkslategray;

}

.hamburguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hamburguerMenu span{
    display: block;
    height: 2px;
    width: 20px;
    margin: 2px;
    background: #ccc;
}

.hamburguerMenu:hover{
    background-color: rgb(127, 245, 245);
}

nav ul {
    display:flex;
    background: transparent;
    text-align: center;
    width: 30%;
    border-radius: 0px;
}

.navMenu {
    width: 25%;
    display: none;
}

.showNavMenu {
    display: block;
}

.navMenu li {
    list-style: none;
    width:25%;
    text-align: center;
    margin: auto 0;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}


.navMenu li a {
    text-decoration: none; /*Removes underline below the nav items*/
    color: black;
}


nav ul img {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom:0px;
}

.navMenu li:hover{
    background-color: rgb(127, 245, 245);
}

.navMenu li a:hover{
    background-color: rgb(127, 245, 245);
    color: black;
    
}

header {
    width: 20%;
    background-color: transparent;
}

/* Main configuration instructions*/

.countryName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



.nameCountry h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: xx-large;
    text-align: center;
}

.nameCountry {
    width: 30%;
    background-image: url(/images/pt_basic.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;

    margin: 10px 10px 10px 10px;
}

.recipe ol li {
    list-style-position: inside; /*without this, the numbers would be outside the directions div*/
}

.recipe h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: x-large;
}

.recipe h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: large;
}

.drinkRecipe{
    text-align: center;
    padding: 5px;
    width: 70%;
}

.drinkPicture {
    padding: 10px;
    /*width: 50%;*/
}

.drinkPic {
    width: 200px;
    clip-path: circle();
}

.countryFlag {
    width: 100px;
}

.mainPic {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.countryPicture {
    width: 100%;
    border-radius: 20px;
}


/* Footer configuration instructions*/

footer {
    display: flex;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    text-align: center;

}

.drinkCarefully {
    text-align: center;
    width: 50%;
    padding-top: 20px;
}

.socialBox{
    color: red;
    width: 50%;
    padding-top: 10px;
    font-size: medium;
}

.socialMedia li {
    list-style: none;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

}